<html>
<body>

<a href="{{ SITE_URL }}">
<img src="https://amprepobucket.s3.amazonaws.com/static/img/AmpliconSuiteIconCirc.png" height="20px" />
{{ SITE_TITLE }}  </a>
<br/>
<br/>

The samples for project <a href="{{ SITE_URL }}project/{{ new_project_id }}">{{ project_name }}</a> have been changed. 
There are now {{ sample_count }} samples in the project.

<br/>
<br/>

<a href="{{ SITE_URL }}project/{{ new_project_id }}">Click here to visit the new project version</a>

<br/>
<br/>

You are receiving this email because you subscribed to updates for this project. 
To unsubscribe, visit the project page and uncheck the subscription box.

<br/>

</body>
</html>

