config.sh
*.swp
.env
/caper/caper.sqlite3
.DS_Store
Dockerfile
caper/project_data/*
*.sqlite3
*.pem
caper/mkcert-v1.4.3-linux-amd64
caperout.txt
capererr.txt
lib64
pyvenv.cfg
/bin*
*caper.sqlite3
/ampliconenv
# pycharm IDE
.idea/
tmp/
data/
logs/
.env
