/* TODO: convert to variables with design-tokens.css, refactor into modules */


/* ====== GLOBAL LAYOUT RULES ====== */

* {
  box-sizing: border-box;
}

.frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 60px;
}

/* Panels inside frames */
.panel {
    display: flex;
    /* flex: 1; */
    align-items: center;
    padding: 8px;
    min-height: 40px;
}

/* ====== HEADER FRAME ====== */
/* .header-frame {
    align-items: flex-start;
    justify-content: flex-start;
  
} */

/* ====== GENE INFO FRAME ====== */
.gene-info-panel {
    flex: 1;
}

/* ====== MAIN FRAME ====== */
.primary-graph-panel,
.scrollable-graphs-panel,
.table-panel {
    display: flex;
    flex-direction: row;
    aspect-ratio: 1 / 1;
    width: 100%;
}