{% extends 'base.html' %}

{% block meta_title %}Add Metadata{% endblock %}

{% block main %}
<div class="container">
    <h1>Add Metadata</h1>
    <p>
        Please upload a CSV file where:
        <ul>
            <li><strong>The first column</strong> must be the <b>"sample_name"</b> (e.g., "Sample_001").</li>
            <li><strong>The second column</strong> must be the <b>"sample_type"</b> (e.g., "Lung Cancer").</li>
            <li><strong>All other columns</strong> are considered as metadata fields associated with the respective sample.</li>
        </ul>
    </p>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>sample_name</th>
                <th>cancer_type</th>
                <th>sample_type</th>
                <th>tissue_source_site</th>
                <th>race</th>
                <th>ethnicity</th>
                <th>tumor_stage</th>
                <th>... (more metadata columns)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sample_001</td>
                <td>Lung Cancer</td>
                <td>Tumor</td>
                <td>Lung</td>
                <td>Asian</td>
                <td>Hispanic</td>
                <td>Stage II</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Sample_002</td>
                <td>Breast Cancer</td>
                <td>Normal</td>
                <td>Breast</td>
                <td>White</td>
                <td>Non-Hispanic</td>
                <td>Stage I</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Sample_003</td>
                <td>Colon Cancer</td>
                <td>Tumor</td>
                <td>Colon</td>
                <td>Black</td>
                <td>Hispanic</td>
                <td>Stage III</td>
                <td>...</td>
            </tr>
            <tr>
                <td>Sample_004</td>
                <td>Prostate Cancer</td>
                <td>Tumor</td>
                <td>Prostate</td>
                <td>Asian</td>
                <td>Non-Hispanic</td>
                <td>Stage IV</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>

    <h4>Note: Make sure the file you upload is a comma-delimited .csv file! Learn more about this file format 
        <a href="https://flatfile.com/blog/what-is-a-csv-file-guide-to-uses-and-benefits/#:~:text=%E2%80%9CCSV%E2%80%9D%20refers%20to%20the%20CSV,as%20data%20separated%20by%20commas." target="_blank">here</a>.
        </h4>
    <hr>
    <form method="post" enctype="multipart/form-data" action="{% url 'process_metadata' project_id=project_id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="metadataFile"><b>Select CSV File:</b></label>
            <input type="file" class="form-control-file" id="metadataFile" name="metadataFile" accept=".csv" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>
{% endblock %}