{% extends 'base.html' %}

{% load mezzanine_tags %}
{% block extra_js %}
<script>
  function set_project_deleted(event, project_id, project_name, to_be_deleted) {
        var goahead = confirm("Really PERMANENTLY delete project " + project_name + "("+project_id+")? This cannot be undone.");
        if (goahead){

            let form = document.getElementById("form__submit");

            document.getElementById("form__project_name").value=project_name;

            document.getElementById("form__project_id").value=project_id;

            document.getElementById("form__delete").checked=to_be_deleted;
            form.submit();


        } else {
            alert('5--')
            event.stopPropagation();
            event.preventDefault();
            event.target.checked = !to_be_featured;
            return false;
        }
  }


    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
     
        $('table.table').DataTable({
            language: {
                    searchPlaceholder: "Search deleted projects"
                    }
        });

  message_to_user = "{{ error_message }}";
    if (message_to_user.length > 0){

        $('#message_to_user').text(message_to_user)

        if (message_to_user.includes("Problem")){
            $("#message_dialog").addClass("alert-warning");
            $("#message_dialog").removeClass("alert-success");
        }
        $("#message_dialog").show()

    } else {
        //alert("Nothing to say")

        document.getElementById("message_dialog").style.display = "none";
    }




    });
</script>
{% endblock %}

{% block meta_title %} Home
{% endblock %}

{% block main %}
<head>
    <title>
        AmpliconRepository
    </title>
</head>

<div id="message_dialog" class="alert alert-success" role="alert" style="display:none">
<span id="message_to_user">default text</span>
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="row">
    <div class="col-md-8">
        <div>
            <h1 style="padding-top: 50px">Permanently Delete Projects</h1>

            <hr>
            <div stlye="margin-top: 30px">
                <p>This will <b>permanently delete</b> a project.  These projects are flagged as deleted in the DB already but this will
            actually delete them and delete their files on the file system and in S3. This cannot be undone. </p>

            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
        <div>
            <div style="display:none">
                 <form id="form__submit" action="/admin-delete-project/" method="post">
                       {% csrf_token %}
                     <input id="form__project_name" type="text" name="project_name" /><br />
                     <input id="form__project_id" type="text" name="project_id" /><br />
                     <input id="form__delete" type="checkbox" name="delete" /><br /><br />
                  </form>


            </div>


        </div>
        

        <style>
            .nav-tabs .nav-link {
                color: gray;
                border: 0;
                border-bottom: 1px solid grey;
            }
            
            .nav-tabs .nav-link:hover {
                border: 0;
                border-bottom: 1px solid grey;
            }
            
            .nav-tabs .nav-link.active {
                color: #000000;
                border: 0;
                border-radius: 0;
                border-bottom: 2px solid  #0275d8 ;
            }
            </style>

        
        <div>
            <ul class="nav nav-tabs" role="tablist" >
                <li class="nav-item">
                
                    <a class="nav-link active" href="#tab-table0" data-toggle="tab">Projects flagged as Deleted</a>
                </li>

            </ul>

            <div class="tab-content" style="padding-top: 30px;">

                <div class="tab-pane active" id="tab-table0">
                    <table id='projectTable0' class="table" style="padding-top: 20px; width:100%">
                        <thead>
                            <tr>
                                <th>Creator</th>
                                <th>Deleted by</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Deleted on</th>
                                <th>Project Members</th>
                                <th>Tarfile Size</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in deleted_projects %}
                            <tr>
                                <td>{{ project.creator }}</td>
                                <td>{{ project.delete_user }}</td>
                                <td>{{ project.project_name }}</td>
                                <td>{{ project.description }}</td>
                                <td>{{ project.delete_date }}</td>
                                <td>{% for person in project.project_members %}
                                    {{ person }}<br>
                                {% endfor%}</td>
                                <td>{{ project.tar_file_len }}</td>
                                <td>

                                    <input type = "button"  onclick="set_project_deleted(event, '{{ project.linkid }}', '{{ project.project_name }}', true)" value="delete"/>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div> 
        </div>
    </div>

</div>


{% endblock %}
