{% extends 'base.html' %}
{% load static %}

{% block extra_js %}
<script type="module" src="{% static 'js/coamp-js/main.js' %}"></script>
{% endblock %}

{% block extra_css %}
<!-- tokens, base, layout, components (add as needed) -->
<link rel="stylesheet" href="{% static 'css/coamp-css/design-tokens.css' %}">
<link rel="stylesheet" href="{% static 'css/coamp-css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/coamp-css/layout.css' %}">
<link rel="stylesheet" href="{% static 'css/coamp-css/components/button.css' %}">
<link rel="stylesheet" href="{% static 'css/coamp-css/components/filter-panel.css' %}">
{% endblock %}

{% block main %}
<button>Test button</button>
{% endblock %}