{% extends 'base.html' %}

{% load crispy_forms_tags%}

<head>
    <title>
        Create Project
    </title>




</head>
{% block main %}

    <script>
        function showWaitCursor() {
            document.body.style.cursor = 'wait';
            // force it on the button that is being clicked
            $(".btn").css("cursor", "wait");
            return false
        }
        </script>
<h1>Create New Project</h1>
{% if user.is_authenticated %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ run|crispy }}

    <input type="file" name="document">
    <button type="submit" class="btn btn-primary" onclick="showWaitCursor()"  >Create Project</button>
</form>


{% else %}
<p>Sign in to Upload Files</p>
{% endif %}
{% endblock %}
