{% extends 'base.html' %}

{% load mezzanine_tags %}
{% block extra_js %}
<script>

// Custom sort for "Month DD, YYYY at HH:MM:SS AM/PM TZ"
jQuery.extend(jQuery.fn.dataTable.ext.type.order, {
    'custom-date-pre': function (d) {
        // Remove "at" and timezone for parsing
        var cleaned = d.replace(/ at /, ' ').replace(/ [A-Z]{2,4}$/, '');
        var parsed = Date.parse(cleaned);
        return isNaN(parsed) ? 0 : parsed;
    }
});

    $(document).ready(function () {
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        });
     
        $('#projectTable0').DataTable({
            language: {
                    searchPlaceholder: "Search projects"
                    },
            columnDefs: [
                {
                    targets: 2, // 3rd column (zero-based index)
                    type: 'custom-date'
                }
            ]
        });
        $('#projectTable1').DataTable({
            language: {
                    searchPlaceholder: "Search projects"
                    },
            columnDefs: [
                {
                    targets: 2, // 3rd column (zero-based index)
                    type: 'custom-date'
                }
            ]
        });
        $('#projectTable2').DataTable({
            language: {
                    searchPlaceholder: "Search projects"
                    },
            columnDefs: [
                {
                    targets: 2, // 3rd column (zero-based index)
                    type: 'custom-date'
                }
            ]
        });
    });
</script>

<script>
    window.addEventListener('DOMContentLoaded', function() {
        var tabContent = document.getElementById('tab-table0');
        if (tabContent.scrollWidth > tabContent.clientWidth) {
            tabContent.style.overflowX = 'scroll';
        } else {
            tabContent.style.overflowX = 'hidden';
        }
    });
</script>

<script>
    // Function to format the date string
    function formatDate(dateString) {
        // Parse the date string into a Date object (assuming it's in UTC)
        const utcDate = new Date(dateString);
        //Convert the UTC date to the local timezone
        const localDate = new Date(utcDate.getTime() - utcDate.getTimezoneOffset() * 60000);
        {#const localDate = utcDate#}
        // Format the local date using the desired format
        const formattedDate = localDate.toLocaleString('en-US', {
            month: 'long',
            day: '2-digit',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            hour12: true,
            timeZoneName: 'short'
        });
        return formattedDate;
    }

    // Function to format all date elements in the table
    function formatDates() {
        const dateElements = document.querySelectorAll('.date');
        dateElements.forEach(element => {
            const originalDate = element.textContent.trim();
            const formattedDate = formatDate(originalDate);
            element.textContent = formattedDate;
        });
    }

    // Call the formatDates function when the page is loaded
    document.addEventListener('DOMContentLoaded', formatDates);
</script>


{% endblock %}

{% block meta_title %} Home
{% endblock %}

{% block index %}

<head>
    <title>
        AmpliconRepository
    </title>
</head>

    <div class="container main-container row" style="max-width:1400px; width:90%; margin:auto;">
    <div class="col-md-8">


        <style>
            .nav-tabs .nav-link {
                color: gray;
                border: 0;
                border-bottom: 1px solid grey;
            }
            
            .nav-tabs .nav-link:hover {
                border: 0;
                border-bottom: 1px solid grey;
            }
            
            .nav-tabs .nav-link.active {
                color: #000000;
                border: 0;
                border-radius: 0;
                border-bottom: 2px solid  #0275d8 ;
            }

            .col-lg-3 {
                padding:0px
            }
        </style>
            <div style="margin-top: 20px">
                <img src="{{ STATIC_URL }}img/AmpliconRepository_Grey.png" width="100%">
                <hr>
                <div stlye="margin-top: 30px;">
                    <p style="font-size:18px;">An online repository of AmpliconArchitect outputs. Explore and download focal amplification predictions and annotations.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card text-center" style="width:12rem; border:none;margin:auto; padding: 5px">
				<img class="card-img-top" src="{{ STATIC_URL }}img/250w/exploration_cartoonAsset_1.png" style="max-height:20rem; max-width:10rem; margin:auto">
                            <div class="card-body" style="margin-top:5px">
                                <p class="card-title">Copy-number data exploration</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card text-center" style="width: 12rem; border:none;margin:auto; padding: 5px">
                            <img class="card-img-top" src="{{ STATIC_URL }}img/250w/aa_viz_cartoonAsset_1.png" style="max-height:20rem; max-width:10rem; margin:auto">
                            <div class="card-body" style="margin-top:18px">
                                <p class="card-title">AmpliconArchitect output files</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card text-center" style="width: 12rem; border:none;margin:auto; padding: 5px">
                            <img class="card-img-top" src="{{ STATIC_URL }}img/250w/classes_cartoonAsset_1.png" style="max-height:20rem; max-width:10rem; margin:auto">
                            <div class="card-body" style="margin-top:18px">
                                <p class="card-title">Focal amplification classifications</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card text-center" style="width: 14rem; border:none;margin:auto; padding: 5px">
                            <img class="card-img-top" src="{{ STATIC_URL }}img/250w/gene_coords_cartoonAsset_1.png" style="max-height:20rem; max-width:6rem; margin:auto">
                            <div class="card-body" style="margin-top:3px">
                                <p class="card-title">Amplicon coordinates and gene contents</p>
                            </div>
                        </div>
                    </div>
            
                </div>
        </div>
        <hr>
        <div style="margin-bottom: 20px; border: 0.5px solid grey; padding: 20px; border-radius: 10px;">
            <div>
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-table0" data-toggle="tab">Featured Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-table1" data-toggle="tab">Public Projects</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class='nav-link' href="#tab-table2" data-toggle="tab">Private Projects</a>
                            </li>
                        {% endif %}
                    </ul>
                    <div class="tab-content" style="padding-top: 30px;">
                        <div class="tab-pane active" id="tab-table0" style="overflow-x: auto;">
                            <table id='projectTable0' class="table" style="padding-top: 20px; width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Last Updated</th>
                                        <th>Sample count</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in featured_projects %}
                                    <tr>
                                        <td style="word-break: break-all; overflow-wrap: break-word;">
                                          <a target="_blank" href="{% url 'project_page' project_name=project.linkid %}">{{ project.project_name }}</a>
                                        </td>
                                        <td>{{ project.description|truncatechars:100 }}</td>
                                        <td class="date">{{ project.date }}</td>
                                        <td>{{ project.sample_count }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane " id="tab-table1" style="overflow-x: auto;">
                            <table name='projectTable1' id='projectTable1' class="table" style="padding-top: 20px; width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Last Updated</th>
                                        <th>Sample count</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in public_projects %}
                                    <tr>
                                        <td style="word-break: break-all; overflow-wrap: break-word;">
                                          <a target="_blank" href="{% url 'project_page' project_name=project.linkid %}">{{ project.project_name }}</a>
                                        </td>
                                        <td>{{ project.description|truncatechars:100 }}</td>
                                        <td class="date">{{ project.date }}</td>
                                        <td>{{ project.sample_count }}</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="tab-pane" id="tab-table2" style="overflow-x: auto;">
                            <table id='projectTable2' class="table" style="padding-top: 20px; width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Last Updated</th>
                                        <th>Project Members</th>
                                        <th>Edit Project</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in private_projects %}
                                    <tr>
                                        <td style="word-break: break-all; overflow-wrap: break-word;">
                                          <a target="_blank" href="{% url 'project_page' project_name=project.linkid %}">{{ project.project_name }}</a>
                                        </td>
                                        <td>{{ project.description|truncatechars:100 }}</td>
                                        <td class="date" >{{ project.date }}</td>
                                        <td>{% for person in project.project_members %}
                                            {{ person }}<br>
                                        {% endfor%}</td>
                                        <td><a target="_blank" href="{% url 'edit_project_page' project_name=project.linkid %}"><i class="fas fa-edit" style="font-size:15px"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-4">
        <br>
        <h4 style="margin-top: 20px">News & Updates</h4>

        <ul>
            <li style="margin-bottom:10px">
                <a href="https://www.nature.com/articles/s41588-024-01949-7" target="_blank">Leveraging large-scale genomic datasets to track extrachromosomal DNA across cancer stages <i class="fas fa-external-link-alt"></i></a>
            </li>
            <li style="margin-bottom:10px">
                <a href="https://www.nature.com/articles/s41588-023-01551-3" target="_blank">Study of ecDNA in medulloblastoma reveals intratumor heterogeneity of ecDNA <i class="fas fa-external-link-alt"></i></a>
            </li>
            <li style="margin-bottom:10px">
                <a href="https://www.nature.com/articles/d41586-023-00982-6" target="_blank">Study of ecDNA in Barrett's esophagus patients shows ecDNA arises early in cancer development <i class="fas fa-external-link-alt"></i></a>
            </li>
            <li>
                <a href="https://www.nih.gov/news-events/news-releases/four-multinational-interdisciplinary-teams-selected-address-major-challenges-cancer" target="_blank">Team eDyNAmiC receives $25 million grant to study the role of ecDNA in cancer <i class="fas fa-external-link-alt"></i></a>
            </li>
        </ul>
        <div id="accordion" >
            <div class="card">
                <style>
                    .btn-link:not([aria-expanded="false"]).collapsed::before {
                        content: "";
                        display: inline-block;
                        border-style: solid;
                        border-width: 0.4em 0 0.4em 0.4em;
                        border-color: transparent transparent transparent #000;
                        margin-right: 0.5em;
                        transform: rotate(0deg);
                        vertical-align: middle;
                    }

                    .btn-link[aria-expanded="true"]::before {
                        content: "";
                        display: inline-block;
                        border-style: solid;
                        border-width: 0.4em 0 0.4em 0.4em;
                        border-color: transparent transparent transparent #000;
                        margin-right: 0.5em;
                        transform: rotate(90deg);
                        vertical-align: middle;
                    }

                    .btn-link:not([aria-expanded="true"]).collapsed::before {
                        content: "";
                        display: inline-block;
                        border-style: solid;
                        border-width: 0.4em 0 0.4em 0.4em;
                        border-color: transparent transparent transparent #000;
                        margin-right: 0.5em;
                        transform: rotate(0deg);
                        vertical-align: middle;
                    }

                    .table-not-striped tbody tr:nth-of-type(odd) {
                        background-color: transparent!important;
                    }
                    .table-not-striped  th {
                        background-color: #E6EFFB;
                        color: #696a6c
                    }
                    .table-not-striped td {
                        color: #696a6c
                    }
                </style>

              <div class="card-header" id="headingOne" style="background:none;">
                <h4 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="padding: 0.25rem 0.5rem; font-weight: bold;">How to cite AmpliconRepository</button>
                </h4>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" >
                <div class="card-body">
                    <a href="https://www.biorxiv.org/content/10.1101/2024.05.06.592768v1" target="_blank">Luebeck J, Huang E, et al. "AmpliconSuite: an end-to-end workflow for analyzing focal amplifications in cancer genomes." bioRxiv. 2024.</a>
                    <br>
                    <br>
                    To cite results obtained from the site, please refer to the uploader's associated publication where possible.
                </div>
              </div>
            </div>
        </div>
        <div>
            <h4 style="margin-top: 20px; font-size: 1.2em;">What's publicly available?</h4>
            <hr style="max-width: 60%; margin-left: 0;">
            <div style="margin-left: 0%;">
                <table id='statsTable0' class="table table-borderless table-sm table-not-striped" style="padding-top: 20px; width:100%">
                    <col width="50%">
                    <col width="50%">
                    <tbody>
                        <tr>
                            <td style="font-size: 1em;">Projects</td>
                            <td style="font-size: 1em;">{{ site_stats.public_proj_count|default:0 }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 1em;">Samples</td>
                            <td style="font-size: 1em;">{{ site_stats.public_sample_count|default:0 }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr style="max-width: 60%; margin-left: 0;">
                <p style="font-size: 1em;">Focal amplification counts</p>
                <table id='statsTable1' class="table table-borderless table-sm table-not-striped" style="padding-top: 20px; width:100%">
                    <col width="50%">
                    <col width="50%">
                    <tbody>
                        <tr>
                            <td style="font-size: 1em;">ecDNA</td>
                            <td style="font-size: 1em;">{{ site_stats.public_amplicon_classifications_count.ecDNA|default:0 }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 1em;">BFB</td>
                            <td style="font-size: 1em;">{{ site_stats.public_amplicon_classifications_count.BFB|default:0 }}</td>
                        </tr>
                        <tr>
                            <td style="font-size: 1em;">Other fsCNA</td>
                            <td style="font-size: 1em;">{{ site_stats.public_amplicon_classifications_count.otherfscna|default:0 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>


{% endblock index %}


{% block main %}
{% endblock %}
