{% extends 'base.html' %}

{% load mezzanine_tags %}

{% block meta_title %} Profile
{% endblock %}



{% block extra_js %}
<script>
     // get the format and sort functions from the included file
    {% include 'includes/datatable_date_utils.html' %}

    
    $(document).ready( function () {
        if ($.fn.DataTable.isDataTable('#projectTable')) {
            $('#projectTable').DataTable().destroy();
        }
        formatDates();
        $('#projectTable').DataTable({
            columnDefs: [
                {
                    targets: 2,
                    type: 'custom-date'
                }
            ],
            order: [[2, 'desc']] // Sort by date column (index 2) in descending order
        });
       
    } );
 
    
</script>
{% endblock %}
{% block main %}
{% if user.is_authenticated %}


    <div class="container main-container" style="max-width:1600px; width:90%; margin:auto;">
       <div id="message_dialog" class="alert alert-success" role="alert" style="display:none">
        <span id="message_to_user">default text</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


        <div class="row">
            <div class="col-md-12">
                <h2>
                    {% if user.email  %}
                     {{ user.email }}:
                    {% else %}
                     {{ user.username }}:
                    {% endif %}
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h3>Projects</h3>
            </div>
            <div class="col-md-3 text-right">
                <a href="/create-project/" class="btn btn-primary">Create Project</a>
            </div>
        </div>
        <div class="table-responsive">
            <table id='projectTable' class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Visibility</th>
                        <th>Sample Metadata</th>
                        <th>Project Members</th>
                        <th>Edit Project</th>
                        <th>Delete Project</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                    <tr>
                        <td style="word-break: break-all; overflow-wrap: break-word;">
                          <a target="_blank" href="{% url 'project_page' project_name=project.linkid %}">{{ project.project_name }}</a>
                        </td>
                        <td>{{ project.description|truncatechars:100 }}</td>
                        <td class="date">{{ project.date }}</td>
                        <td>{% if  project.private %}private{%  else  %}public{% endif %}</td>
                        <td>{% if project.sample_metadata_available %}
                                <i class="fas fa-check-square" style="color: green;"></i>
                            {% else %}
                                <i class="far fa-square"></i>
                            {% endif %}
                        </td>
                        <td>{% for person in project.project_members %}
                            {{ person }}<br>
                        {% endfor%}</td>
                        <td><a target="_blank" href="{% url 'edit_project_page' project_name=project.linkid %}"><i class="fas fa-edit" style="font-size:15px"></i></a></td>
                        <td><a href="{% url 'project_delete' project_name=project.linkid %}"  onclick="return confirm('Are you sure?')"><i class="fas fa-trash" style="font-size:15px"></i></a></td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-top:20px">
                <div class="col-md-9">
                    <h3>Preferences</h3>
                </div>
        </div>
        <div class="row">
                <div class="col-md-9">
                    <h4>Notifications</h4>
                    Check the checkbox to have {{ SITE_TITLE }} send you emails when the following events happen:
                </div>
        </div>

        <form id="form__submit" action="/profile-update-notification-preferences/" method="post">
                       {% csrf_token %}

            <div class="row" style="margin-top:15px"><div class="col-md-4">When <b><i>added</i></b> as a project member:</div>
                <div class="col-md-4">   <input id="form__onAddedToProjectTeam" type="checkbox"
                                              onchange="document.getElementById('updateNotificationsBtn').disabled = false"
                                                name="onAddedToProjectTeam"  {% if preferences.onAddedToProjectTeam %} checked{% endif %}  /></div></div>
             <div class="row" style="margin-top:15px"><div class="col-md-4">When <b><i>removed</i></b> as a project member:</div>
                 <div class="col-md-4">   <input id="form__onRemovedFromProjectTeam" type="checkbox"
                                              onchange="document.getElementById('updateNotificationsBtn').disabled = false"
                                                 name="onRemovedFromProjectTeam"  {% if preferences.onRemovedFromProjectTeam %} checked{% endif %}  /></div></div>
             <div class="row" style="margin-top:15px"><div class="col-md-4">When a subscribed project is <b><i>updated</i></b>:</div>
                 <div class="col-md-4">   <input id="form__onProjectUpdate" type="checkbox"
                                              onchange="document.getElementById('updateNotificationsBtn').disabled = false"
                                                 name="onProjectUpdate"  {% if preferences.onProjectUpdate %} checked{% endif %}  /></div></div>
             <div class="row" style="margin-top:5px"><div class="col-md-9" style="margin-left:15px;font-size:0.9em;color:#666;"><i>Unchecking this will disable project update emails for any projects you have subscribed to.</i></div></div>

             <div class="row" style="margin-top: 25px">
                <div class="col-md-9">
                   <button id="updateNotificationsBtn" class="btn btn-primary" disabled="true">Update notification preferences</button>
                </div>
        </div>
        </form>


    </div>
    {% endif %}
    {% if not user.is_authenticated %}
    <h1>Please sign in to view your profile</h1>
    {% endif %}
{% endblock %}
