{% extends 'base.html' %}

{% load custom_filters %}
{% load static %}
    
{% block extra_js %}
<script>
    $(document).ready( function () {
        $('#myTable1').DataTable({
        }
        );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable({
        }
        );


        message_to_user = "{{ message }}";
        if (message_to_user.length > 0){
            // changed alert to console.log. as long projects will now go to the loading page
            console.log(message_to_user);
        } else {
            //alert("Nothing to say")
        }

    } );
    function show_div() {
        var x = document.getElementById("prev_versions_table");
        if (x.style.display === "none") {
          x.style.display = "block";
          x.scrollIntoView();

        } else {
          x.style.display = "none";
        }
      }

      function function_name() {
        var elem.getElementById("headingPrevVersions");
        elem.scrollIntoView();
    }


<body onload="function_name()">
    <p>hello</p>
</body>





</script>
{% endblock %}

{% block meta_title %} {{ project.project_name }}
{% endblock %}

{% block main %}

<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ project.project_name }}</li>
        </ol>
    </nav>
</div>

<div class="container row" style="margin:auto; padding:0px; padding-top: 20px;">
    <div class="col-md-9">
        <h2>Project: <span style="font-weight: 200">{{ project.project_name }}</span>
        {% if project.current_user_may_edit  %}
         <a href="{% url 'edit_project_page' project_name=project.linkid %}" data-toggle="tooltip" title="Edit Project"><i class="fas fa-edit" style="font-size: 24px"></i></a>
        {%  endif %}</h2>

        


        <br>
        <h5>Description: <span style="font-weight: 200">{{ project.description }}</span></h5>
        <h5>Publication link: <span style="font-weight: 200">{{ project.publication_link|escape|replace_urls|safe }}</span></h5>
        <h5>Reference build: <span style="font-weight: 200">{{ reference_genome }}</span></h5>
    </div>

    <div class="col-md-3">
        <a class="btn btn-primary" href="/project/{{ project.linkid }}/download" style="color: white; margin-bottom: 12px;">Download Project Data</a><br>
        <!-- <p><b>Last Updated:</b> {{ project.date }}</p> -->
        <!-- <p><b>Private:</b> {{ project.private }}</p> -->
        {% if  project.private %}Visibility: <b>Private</b>{% endif %}
        <p><b>Project Members:</b> {% for person in project.project_members %}
            {{ person }}
        {% endfor %}
        </p>


    </div>
    <div  style="margin:auto; border: 0.5px solid grey; padding: 0px">
        <span style="display:inline-block">{{ stackedbar_graph|safe }}
        {% block plotly_js %}
        <script type="text/javascript">
        var plot_element = document.getElementById("project_bar_plotly_div");
        plot_element.on('plotly_click', function(data){{
            var sname = data['points'][0]['customdata'][0];
            var url_no_message = window.location.href.split('/message')[0];
            var link = url_no_message + '/sample/' + sname;
{#            var link = window.location.href + '/sample/' + sname;#}
{#            console.log(link);#}
            window.open(link, "_blank");
            }})

        </script>
        {% endblock %}
        </span>
        <span style="display:inline-block">{{ piechart|safe }}</span>
    </div>

</div>
<br>
<div class="container">
<div class="table-responsive">
    <table id='myTable1' class="table table-hover table-sm stripe no-border">
        <thead>
            <tr>
                <th>Sample Name</th>
                <th>Feature Count</th>
                <th>Oncogenes</th>
                <th>Classifications</th>
                <!-- <th>Sample Page</th> -->
            </tr>
        </thead>
        <tbody>
            {% for sample in sample_data %}
            <tr>
                <td><a href="/project/{{project.linkid}}/sample/{{sample.Sample_name}}">{{ sample.Sample_name }}</a></td>
                <td>{{ sample.Features }}</td>
                <td>{{ sample.Oncogenes|join:", " }}</td>
                <td>{{ sample.Classifications|join:", " }}</td>

                <!-- <td>{% for gene in sample.Oncogenes %}
                    {{ gene|wordwrap:5 }}
                {% endfor %} -->
                </td>
                <!-- <td><a target="_blank" href="/project/{{project.linkid}}/sample/{{sample.Sample_name}}"><i class="fa fa-link" aria-hidden="true" style="font-size:15px"></i></a></td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    <br>
    <div id="accordion" >
    <div class="card">
        <style>
            .btn-link:not([aria-expanded="false"]).collapsed::before {
                content: "";
                display: inline-block;
                border-style: solid;
                border-width: 0.4em 0 0.4em 0.4em;
                border-color: transparent transparent transparent #000;
                margin-right: 0.5em;
                transform: rotate(0deg);
                vertical-align: middle;
            }

            .btn-link[aria-expanded="true"]::before {
                content: "";
                display: inline-block;
                border-style: solid;
                border-width: 0.4em 0 0.4em 0.4em;
                border-color: transparent transparent transparent #000;
                margin-right: 0.5em;
                transform: rotate(90deg);
                vertical-align: middle;
            }

            .btn-link:not([aria-expanded="true"]).collapsed::before {
                content: "";
                display: inline-block;
                border-style: solid;
                border-width: 0.4em 0 0.4em 0.4em;
                border-color: transparent transparent transparent #000;
                margin-right: 0.5em;
                transform: rotate(0deg);
                vertical-align: middle;
            }

            .table-not-striped tbody tr:nth-of-type(odd) {
                background-color: transparent!important;
            }
            .table-not-striped  th {
                background-color: #E6EFFB;
                color: #696a6c
            }
            .table-not-striped td {
                color: #696a6c
            }
        </style>

        <div class="card-header" id="headingPrevVersions">
            <h4 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapsePrevVersions" aria-expanded="false" aria-controls="collapsePrevVersions" style="padding: 0.25rem 0.5rem; font-weight: bold;">
                    Project History ({{prev_versions_length}})
                </button>
            </h4>
        </div>


        <div id="collapsePrevVersions" class="collapse" aria-labelledby="headingPrevVersions" data-parent="#accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th scope="col">Date Created</th>
                            <th scope="col">Version</th>
                            <th scope="col">Download</th>
                        </thead>
                        <tbody>
                            {% for version in prev_versions %}
                                
                            <tr>
                                <td scope="row">{{ version.date }}</td>
                                <td scope="row">Project ID: {{ version.linkid }}
                                    {% if version.linkid == proj_id %}
                                        <strong>(Currently viewing)</strong>
                                    {% endif %}
                                </td>
                                <td scope="row">
                                    <a class="btn btn-primary" href="/project/{{ version.linkid }}/download" style="color: white; margin-bottom: 12px;">Download version</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>



</div>


{% endblock %}
