{% extends 'base.html' %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        $('#myTable2').DataTable({
        }
        );
    } );
</script>
<script src="https://cdn.jsdelivr.net/npm/igv@2.13.7/dist/igv.min.js"></script>
<script type="text/javascript">
    function toggle_igv() {
    var x = document.getElementById("igv-div");
    if (x.style.display === "none") {
        x.style.display = "flex";
    } else {
        x.style.display = "none";
    }
    }

    function create_igv(track, locus_selection,reference_genome){
        // a function to create IGV.js tracks

        // reference genome parsing
        
        const version = igv.version()
        const igvDiv = document.getElementById("igv-div")
        var genome = "";
        if (reference_genome === 'GRCh38'){
            genome = 'hg38';
        } else if (reference_genome === 'hg19'){
            genome = 'hg19';
        } else if (reference_genome === 'GRCh37'){
            genome = 'hg19';
        };
        const options =
            { 
                locus: locus_selection,
                genome: genome,
                roi: track
            }
        if (igvDiv.innerHTML != ""){
            igvDiv.innerHTML = "";
        }
        igv.createBrowser(igvDiv, options)
            .then(function (browser) {
                console.log("Created IGV browser")
            })
    }

</script>
<style>
.igv-container {
    margin: auto;
    width: 100%
}
</style>

{% endblock %}

{% block meta_title %} {{ sample_name }}
{% endblock %}


{% block main %}
<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/project/{{ project.linkid }}">{{ project.project_name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ sample_name }}</li>
        </ol>
    </nav>
</div>

<div class='row' style="margin:auto; padding-top: 20px; padding-bottom: 50px">
    <div class="col-md-9">
        <h2>Sample Name: <span style="font-weight: 200">{{ sample_name }}</span></h2>
        <h4>Project Name:  <a href="{% url 'project_page' project_name=project.linkid %}" style="font-weight: 200">{{ project.project_name }}</a></h4>
    </div>
    <div class="col-md-3" style='text-align:right'>
        <button class="btn btn-primary"><a href="/project/{{ project.linkid }}/sample/{{ sample_name }}/download" style="color: white">Download All Sample Data</a></button>
    </div>

</div>

{% if graph %}
    <div class="row " style="margin: auto;">
        <div class='col-lg-6' id="figure_download_window", style='display:none;'>
            <a href='' target='_blank' download="download" style=' display: flex; flex-flow: column; margin:auto; text-align:center; text-decoration:none;'>
                <br>
                <img src='' style='width:100%'>
            </a>
            <span id='close' style='margin-left: 5px; color: grey; font-size: 1.5rem; display: none;'>&times
            </span>            
        </div>          
        <!-- <button onclick="toggle_igv()" style="height:100px;display:none" id="show_igv">SHOW IGV VIEWER</button> -->
        <div class='col-lg-6' id="igv-div" style = "display: none;">
        </div>    
    </div>
    



    <div  style="margin-top: 0px; border: 0.5px solid grey; padding: 25px">
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <span style='margin-left: 1rem'> Display All Chromosomes </span>
	    <input id="toggle-event" type="checkbox" class="form-check-input" data-toggle="toggle">
        
        <span style='margin-left: 1rem'> Display IGV Viewer </span>
        <input id="toggle-igv" type="checkbox" class="form-check-input" data-toggle="toggle">


        {{ graph|safe }}
        <br>
        
        {% block plotly_js %}
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <script type="text/javascript">
            if (window.location.href.split('?').length != 1) {
                var toggle = document.getElementById("toggle-event");
                toggle.setAttribute('checked', 'True');
            }

            var closebtn = document.getElementById("close");
            closebtn.addEventListener("click", function() {{
                this.parentElement.style.display = 'none';
                var igv = document.getElementById("igv-div");
                igv.style.display = "none";

                var container = document.getElementById("big_container");
                container.style.display = "none";
            }});



            $('#toggle-event').change(function() {{
                const current_link = window.location.href.split('?');
                if (current_link.length == 1) {{
                    window.location.href = current_link[0] + '?display_all_chr=T';
                }}
                else {{
                    window.location.href = current_link[0];
                }}
            }});

            var igv_toggle = false;
            $("#toggle-igv").on('change', function() {
                if ($(this).is(':checked')) {
                    igv_toggle = $(this).is(':checked');
                    var x = document.getElementById("igv-div");
                    x.style.display = "flex";
                }
                else {
                    igv_toggle = $(this).is(':checked');
                    var x = document.getElementById("igv-div");
                    x.style.display = "none";
                    
                }
            });
                        

            var plot_element = document.getElementById("plotly_div");
            plot_element.on('plotly_click', function(data){{
                console.log('click');
                var link = '';
                for (let i = 0; i < data['points'].length; i++) {{
                    var name = data['points'][i]['data']['name'];
                    if (name.includes('Amplicon')) {{
                        var chromosome_num = data['points'][i]['customdata'][1];
                        link = data['points'][i]['data']['hovertemplate'].split('"')[1];
                        var amplicon_num = name.replace("<b>", "").replace("</b>", "").split(" ")[1];

                        for (let j = 0; j < JSON.parse('{{ download_links|safe }}').length; j++){
                            var png = JSON.parse('{{ download_links|safe }}')[j];
                            if (png.aa_amplicon_number == amplicon_num){
                                link = png.download_link;
                            }
                        }


                        // if display IGV Viewer toggle is on:
                        if (igv_toggle) {
                            for (let k = 0; k < JSON.parse('{{ igv_tracks|safe }}').length; k++){
                                var amplicon_selection = JSON.parse('{{ igv_tracks|safe }}')[k];
                                var locus_selection = JSON.parse('{{ locuses|safe }}')[k][chromosome_num];
                                var reference_genome = JSON.parse('{{ reference_versions|safe }}')[k];

                                if (amplicon_selection.name.includes(("amplicon" + String(amplicon_num)+"_"))) {
                                    const tracks = [amplicon_selection];
                                    const locus = locus_selection;
                                    // call function to create JS in THE IGV DIV
                                    create_igv(tracks, locus_selection, reference_genome);
                                    break
                                }
                            }
                        }
                        break;
                    }}
                }}

                console.log(link == undefined);

                if (link != '') {{
                    var link_window = document.getElementById("figure_download_window");
                    var link_elem = link_window.firstElementChild;
                    link_elem.href = link;

                    var preview_elem = link_elem.lastElementChild;
                    preview_elem.setAttribute('src', link);

                    if (link_elem.firstElementChild.tagName != "B") {{
                        link_elem.innerHTML = '<b>Download ' + name.slice(3, -4) + ' PNG</b>' + link_elem.innerHTML;
                    }}
                    else {{
                        link_elem.firstElementChild.innerHTML = 'Download ' + name.slice(3, -4) + ' PNG';
                    }}
                    link_window.setAttribute('style', 'display: flex; align-items: center; margin: auto; text-align: center; min-height: 300px; border: 0.5px solid grey; border-bottom: none;padding-top:5px;');
                    if (igv_toggle){
                        var x = document.getElementById("igv-div");
                        x.style.display = "flex";
                        x.setAttribute('style', 'display: flex; align-items: center; text-align: center; min-height: 300px; border: 0.5px solid grey; padding-top:5px; border-left:none; border-bottom:none;');
                    }
                    

                    
                }} else if (link == undefined){
                    
                }
            }})
        </script>
        {% endblock %}
    </div>
{% endif %}




<div style="margin-top:25px; padding: 25px; border: 0.5px solid grey">
    <h3>Features Table</h3>
    <!-- <div style="text-align:right; padding-bottom:1em;">
        <button type="submit">Download selected features</button>
    </div> -->
    <div class="table-responsive">
        <table id='myTable2' class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Feature ID</th>
                    <th>Amplicon # </th>
                    <th>Location</th>
                    <th>Oncogenes</th>
                    <th>Classification</th>
                    <th>Downloads</th>
                </tr>
            </thead>
            <tbody>
                {% if  sample_data|length == 1 and sample_data.0.Feature_ID|slice:"-3:" == "_NA"   %}


                       <!-- placeholder in case we want something other than the default 'no data available in table' message -->
                {% else %}
                {% for feature in sample_data %}
                <tr>
                    <td><b>{{ feature.Feature_ID }} </b></td>
                    <td>{{ feature.AA_amplicon_number }}</td>
                    <td>{{ feature.Location|join:", " }}</td>
		            <td>{{ feature.Oncogenes|join:", " }}</td>
                    <td>{{ feature.Classification }}</td>
                    <td>
                        <a href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/{{ feature.Feature_BED_file }}">BED file</a><br>
                        <a href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/pdf/{{ feature.AA_PDF_file }}">PDF</a> /
                        <a href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/png/{{ feature.AA_PNG_file }}">PNG</a><br>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
