{% extends 'base.html' %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        $('#myTable1').DataTable({
        }
        );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable({
        }
        );
    } );
</script>
{% endblock %}

{% block meta_title %} {{ sample_name }}
{% endblock %}


{% block main %}
<div class="container row" style="margin:auto; padding-top: 50px;">
    <div class="col-md-9">
        <h2>Sample Name: {{ sample_name }}</h2>
        <br>        
    </div>
    <div class="col-md-3">
        <p><b>Project Name:</b>  <a target="_blank" href="{% url 'project_page' project_name=project.project_name %}">{{ project.project_name }}</a></p>
        <p><b>Last Updated:</b> {{ project.date }}</p>
        <p><b>Private:</b> {{ project.private }}</p>
        <p><b>Project Members:</b> {% for person in project.project_members %}
            {{ person }}
        {% endfor%}
        </p>
    </div>
    
    
</div>


{% if graph %}
    <div>
        <br>
        <div id="figure_download_window", style='display: none'>
            <a href='' target='_blank' download="download" style='border-style: solid; padding: 0.1rem 0.5rem; border-width: 0.15rem; border-color: black; display: flex; flex-flow: column'>
                <br>
                <img src='' style='width:30rem'>
            </a>
            <span id='close' style='margin-left: 5px; color: grey; font-size: 1.5rem'>&times
            </span>
        </div>
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
        <span style='margin-left: 1rem'> Display All Chromosomes </span>
        <input id="toggle-event" type="checkbox" class="form-check-input" data-toggle="toggle">
        {{ graph|safe }}
        <br>
        
        {% block plotly_js %}
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
        <script>
            if (window.location.href.split('?').length != 1) {
                var toggle = document.getElementById("toggle-event");
                toggle.setAttribute('checked', 'True');
            }

            var closebtn = document.getElementById("close");
            closebtn.addEventListener("click", function() {{
                this.parentElement.style.display = 'none';
            }});

            $('#toggle-event').change(function() {{
                const current_link = window.location.href.split('?');
                if (current_link.length == 1) {{
                    window.location.href = current_link[0] + '?display_all_chr=T';
                }}
                else {{
                    window.location.href = current_link[0];
                }}
            }});

            var plot_element = document.getElementById("plotly_div");
            plot_element.on('plotly_click', function(data){{
                console.log('click');
                console.log(plot_element);
                var link = '';
                for (let i = 0; i < data['points'].length; i++) {{
                    var name = data['points'][i]['data']['name'];
                    if (name.includes('Amplicon')) {{
                        link = data['points'][i]['data']['hovertemplate'].split('"')[1];
                        break;
                    }}
                }}

                if (link != '') {{
                    var link_window = document.getElementById("figure_download_window");
                    var link_elem = link_window.firstElementChild;
                    link_elem.href = link;

                    var preview_elem = link_elem.lastElementChild;
                    preview_elem.setAttribute('src', link);

                    if (link_elem.firstElementChild.tagName != "B") {{
                        link_elem.innerHTML = '<b style="text-decoration: underline">Download ' + name.slice(3, -4) + ' PNG</b>' + link_elem.innerHTML;
                    }}
                    else {{
                        link_elem.firstElementChild.innerHTML = 'Download ' + name.slice(3, -4) + ' PNG';
                    }}
                    link_window.setAttribute('style', 'display: flex; align-items: center; margin-bottom: 2rem');
                }}
            }})
        </script>
        {% endblock %}
    </div>
{% endif %}

<div class="container" style="margin-top:50px;">

    <h3>Features Table</h3>
    <div class="table-responsive">
        <table id='myTable2' class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Feature ID</th>
                    <th> Amplicon # </th>
                    <th>Location</th>
                    <th>Oncogenes</th>
                    <!-- <th>Captured interval length</th> -->
                    <th>Classification</th>
                    <!-- <th>Complexity score</th> -->
                    <!-- <th>Feature maximum copy number</th> -->
                    <!-- <th>Feature median copy number</th> -->
                    <!-- <th>Reference_version</th> -->
                    <!-- <th>Run_metadata_JSON</th> -->
                    <th>Downloads</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in sample_data %}
                <tr>
                    <td><b>{{ feature.Feature_ID }}</b></td>
                    <td>{{ feature.AA_amplicon_number }}</td>
                    <td>{{ feature.Location|join:", " }}</td>
                    <td>{{ feature.Oncogenes|join:", " }}</td>
                    <!-- <td>{{ feature.Captured_interval_length }}</td> -->
                    <td>{{ feature.Classification }}</td>
                    <!-- <td>{{ feature.Complexity_score }}</td> -->
                    <!-- <td>{{ feature.Feature_maximum_copy_number }}</td> -->
                    <!-- <td>{{ feature.Feature_median_copy_number }}</td> -->
<!--                     <td>{{ run.Reference_version }}</td>
                    <td>{{ run.Run_metadata_JSON }}</td> -->
                    <td>
                        <a class="btn btn-info sample-link" href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/{{ feature.Feature_BED_file }}" role='button' style="font-size: 12px; margin:2px" download>Feature File</a>
                        <a class="btn btn-info sample" href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/{{ feature.CNV_BED_file }}"  role='button' style="font-size: 12px; margin: 2px" download>CNV File</a>
                        <a class="btn btn-info sample" href="/project/{{ project_name }}/sample/{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/pdf/{{ feature.AA_PDF_file}}"  role='button' style="font-size: 12px; margin: 2px"> PDF </a>
                        <a class="btn btn-info sample" href='{{ sample_name }}/feature/{{ feature.Feature_ID }}/download/png/{{ feature.AA_PNG_file}}' role='button' style="font-size: 12px; margin: 2px" target="_blank"> PNG </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}