{% extends 'base.html' %}

{% block extra_js %}
<script>
    $(document).ready( function () {
        $('#myTable1').DataTable({
            select: {
                style: 'multi'
            },
        }
        );
    } );
    $(document).ready( function () {
        $('#myTable2').DataTable({
            select: {
                style: 'multi'
            }
        }
        );
    } );
</script>
{% endblock %}

{% block main %}
<div class="container row" style="margin:auto; padding-top: 50px;">
    <div class="col-md-9">
        <h2>{{ sample_name }} <a target="_blank" href="{% url 'project_page' project_name=project.project_name %}"><i class="fa fa-link" aria-hidden="true"></i></a> </h2>
        <br>        
    </div>
    <div class="col-md-3">
        <p><b>Last Updated:</b> {{ project.date }}</p>
        <p><b>Private:</b> {{ project.private }}</p>
        <p><b>Project Members:</b> {{ project.project_members }}</p>
    </div>
    
    
</div>


{% if graph %}
    <div>
        <br>
        {{ graph|safe }}
        <br>
    </div>
{% endif %}

<div class="container" style="margin-top:50px;">

    <h4>Features Table</h4>
    <div class="table-responsive">
        <table id='myTable2' class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Feature ID</th>
                    <th> Amplicon # </th>
                    <th>Location</th>
                    <th>Oncogenes</th>
                    <th>Captured interval length</th>
                    <th>Classification</th>
                    <th>Complexity score</th>
                    <th>Feature maximum copy number</th>
                    <th>Feature median copy number</th>
                    <!-- <th>Reference_version</th> -->
                    <!-- <th>Run_metadata_JSON</th> -->
                    {% if graph %}
                        <th>Download</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for feature in sample_data %}
                <tr>
                    <td>{{ feature.Feature_ID }}</td>
                    <td>{{ feature.AA_amplicon_number }}</td>
                    <td>{{ feature.Location }}</td>
                    <td>{{ feature.Oncogenes }}</td>
                    <td>{{ feature.Captured_interval_length }}</td>
                    <td>{{ feature.Classification }}</td>
                    <td>{{ feature.Complexity_score }}</td>
                    <td>{{ feature.Feature_maximum_copy_number }}</td>
                    <td>{{ feature.Feature_median_copy_number }}</td>
<!--                     <td>{{ run.Reference_version }}</td>
                    <td>{{ run.Run_metadata_JSON }}</td> -->
                    {% if graph %}

                        <td> 
                            <a href="/project_data/{{project_name}}/extracted/{{ feature.AA_PDF_file}}" download> AA_pdf </a> <br>
                            <a href="/project_data/{{project_name}}/extracted/{{ feature.AA_PNG_file}}" download> AA_png </a> <br>
                            <a href="/project_data/{{project_name}}/extracted/{{ feature.Feature_BED_file}}" download> Feature_Bed</a> 
                        </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}