<div class="footer bg-light" style='margin-top:50px;'>
    <div class='row' style="margin: auto; width:90%; padding: 50px;">
        <div class="col-md-8">
            <h1></h1>
        </div>
        <div class="col-md-4">
            <p style="font-size: 14px;">Follow us on:</p>
            <a target="_blank" href=""><i class="fab fa-facebook-f" style="font-size: 25px; color:grey"> </i></a>
            <a target="_blank" href=""><i class="fab fa-twitter" style="font-size: 25px; color:grey"> </i></a>
            <a target="_blank" href=""><i class="fab fa-github" style="font-size: 25px; color:grey"> </i></a>
            <span class="hide"><a href="/admin/" style=" color:grey">Admin</a></span>
    
            <div style="padding-top: 20px;">
                <p style="font-size: 14px;">Open Source License.</p>
                
                <p style="font-size: 14px;"> AmpliconRepository is not intended for use with Protected Health Information (PHI).</b></a></p>
            
                <p style="font-size: 14px;">© <script type="application/javascript">document.write(new Date().getFullYear());</script> Regents of the University of California and the Broad Institute.</p>
        </div>
    </div>
    
    
</div>