<div class="footer bg-light" style='margin-top:40px;'>
    <div class='row' style="margin: auto; width:90%; padding: 20px;">
        <div class="col-md-8">
            <h1></h1>
        </div>
        <div class="col-md-4">
            <p style="font-size: 14px; display: inline-block;">Got questions, or want to report a bug?&nbsp;&nbsp;
{#            <a target="_blank" href=""><i class="fab fa-facebook-f" style="font-size: 25px; color:grey"> </i></a>#}
{#            <a target="_blank" href=""><i class="fab fa-twitter" style="font-size: 25px; color:grey"> </i></a>#}
            <a href="https://github.com/mesirovlab/AmpliconRepository" target="_blank" href=""><i class="fab fa-github" style="font-size: 25px; color:grey"> </i></a></p>
            <span class="hide"><a href="/admin/" style=" color:grey">Admin</a></span>

{#            <div style="padding-top: 0px;">#}
                <p style="font-size: 14px;margin-top:0;"> AmpliconRepository is not intended for use with Protected Health Information (PHI).</p>

                <p style="font-size: 14px;">Developed under an open-source BSD 3-Clause license.</p>
            
                <p style="font-size: 14px;">© <script type="application/javascript">document.write(new Date().getFullYear());</script> Regents of the University of California and the Broad Institute.</p>
         <p style="font-size: 14px;margin-top:0;">Server version: {{ SERVER_VERSION  }}</p>
        </div>
    </div>
    
    
</div>