
body {
    padding-top: 0px;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

container {
    width: 95%;
    max-width: none;
}

p {
    font-size: 15px;
}

table th {
    font-size: 14px;
}
table td {
    font-size: 12px;
}

h3 {
    padding-bottom: 20px;
}

.hide {
    opacity: 0;
}

.hide:hover {
    opacity: 1;
}

table.dataTable tbody td.select-checkbox::before, table.dataTable tbody td.select-checkbox::after, table.dataTable tbody th.select-checkbox::before, table.dataTable tbody th.select-checkbox::after {
    position: none !important;
}

.footer {
    margin-top: 100px;
}

.sample-link {
    font-size: 10px;
}

.igv-container {
    margin:auto;
}

.dropdown-toggle:before {
    content: " ";
    display: block;
    position: absolute;
    height: 50px;
    top: -30px;
    left: 0;
    right: 0;
}

@media {
     #custom-bootstrap-menu >a {
        color: rgba(0,0,0,.5) !important;
        
    }
    .custom-bootstrap-menu  .dropdown-item >a {
        color: rgba(0,0,0,.5) !important;
        font-size: .9rem;
    }
    .custom-bootstrap-menu li {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .custom-bootstrap-menu  a:hover {
        color: rgba(0,0,0,.8) !important;
        text-decoration: none;
    }
}

.card-title {
    font-weight: 200 !important;
}

.col-lg-3 {
    padding: 0px
}
.featured_row {
     background-color: rgba(0,0,255,.06) !important;
}
tr:nth-child(odd) {
  background-color: #F8F8F8; /* light grey */
}

tr:nth-child(even) {
  background-color: #fff; /* white */
}

table.dataTable.no-border tbody th,
table.dataTable.no-border tbody td {
  border: 0;
}